*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.6%; // 1rem = 10px;
}

html, body {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}

body {
  box-sizing: border-box; 

  .page {
    display: none;
    min-width: 100%; 
    min-height: 100vh;  
    background: $color-grey-light-2;

    &.visible {
      display: grid;
    }
  }
} 