section.page.login#login
  .login__box 
    .login__logo Kero Sequele
    form.login__form
      input.form-element#login-email(type='email' placeholder='email' required)
      input.form-element#login-password(type='password' placeholder='senha' required)
      button.login__button(type='submit') Entrar