section.page.login#login
  .login__box 
    .login__logo Hipermercado Kero do Sequele
    form.login__form
      input.form__element(type='email' placeholder='email')
      input.form__element(type='email' placeholder='password')