section.page.products#products
  .products__header
    .info
    .action
      button.products__add-btn
        svg 
          use(xlink:href=`src/assets/SVGs/sprite.svg#icon-plus`) 
        span Products
  .products__all
   h1 This is the product page