// COLORS
$color-primary: #d39d38;
$color-primary-light: #ffe47a;
$color-primary-dark: #b4842b;

$color-grey: #ccc;
$color-grey-light: #f2f2f2;
$color-grey-dark: #555;

$color-dark: #333;

$color-black: #000;
$color-white: #fff;

// FONTS