<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Kero - Admin
  body
    // - Main Content
    include pages/login
    include pages/error

    .pages
      include layouts/aside
      include layouts/header

      .pages__container
        include pages/orders
        include pages/products
        include pages/clientes
        include pages/messages