.messages {
  grid-template-rows: 6rem 1fr;
  height: 100%;

  &__header {

    padding: 1rem; 
    @include HeaderBottomLine;

    h1 {
      color: $color-dark;
      font-weight: bold;
      font-size: 2rem;
    }
  }

  &__all {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(8rem, max-content));
    grid-gap: 2rem;

    padding: 2rem;
    height: 100%;

    .message-card {
      background: $color-white;
      position: relative;

      @include Outline;

      &__name {
        display: inline-block;
        width: auto;
        color: $color-primary;
        margin-right: 2rem;
      }

      &__badge {
        background: $color-secondary;
        color: $color-dark;
        border-radius: 2px;
        font-weight: bold;
        padding: .3rem .5rem;
      }

      &__text {
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
        color: $color-dark;
      }

      &__delete {
        position: absolute;
        top: .5rem;
        right: .5rem;
        width: 2rem;
        height: 2rem;
        fill: $color-red;

        @include Transition;

        &:hover {
          fill: $color-dark;
          cursor: pointer;
        }
      }
    }
  }
}