aside.aside
  nav.nav
    ul.nav__list
      - 
        const links = [
          { name: 'Encomendas', link: 'orders', icon: 'cart' },
          { name: 'Produtos', link: 'products', icon: 'shopping-bag' },
          { name: 'Clientes', link: 'clients', icon: 'user-tie' },
          { name: 'Mensagens', link: 'messages', icon: 'envelop' }
        ]
      
      each link in links
        li.nav__item 
          a.nav__link(href=`#${link.link}`)
            span= link.name
            svg.nav__icon
              use(xlink:href=`src/assets/SVGs/sprite.svg#icon-${link.icon}`)    
            