header.header
  .logo Hipermercado Sequele
  .user
    .user__name Jeseias Domingos
    img.user__img 
    svg.user__icon
      use(xlink:href=`src/assets/SVGs/sprite.svg#icon-chevron-with-circle-down`)
