header.header
  .logo Hipermercado Sequele
  .user
    p.user__name  
    img.user__img 
    svg.user__icon
      use(xlink:href=`src/assets/SVGs/sprite.svg#icon-chevron-with-circle-down`)
    ul.user__menu 
      li.user__menu__item Sair 

