.aside {
  
  .nav {
    margin: 8rem 0 0 0;    

    &__list {
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      list-style: none;
    }

    &__item {
      width: 100%;
      color: $color-dark;
    }

    &__link {
      display: flex;
      justify-content: space-between;
      align-content: center;

      font-weight: bold;
      font-size: 1.5rem;
      padding: 1rem 2rem;
      border-left: 2px solid transparent;
      margin-bottom: 2px;
      
      @include Link;
      @include Transition;

      &:hover, &--active {
        border-color: $color-primary;
        color: $color-primary !important;
        cursor: pointer; 

        svg {
          fill: $color-primary;
        }
      }  
    }

    &__icon {
      width: 2rem;
      height: 2rem;
      fill: $color-dark;

      @include Transition;
    }
  }  
}